body {
  font-family: monospace;
  font-size: 12pt;
  color: #d2d4de;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) repeat,
    url("../images/background.png") no-repeat center fixed;
  background-color: #161821;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}

#title {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 24pt;
  text-align: center;
}

#clock {
  text-align: center;
  font-size: 24pt;
  color: #b4be82;
}

#log_time {
  padding-left: 5px;
  text-align: center;
  color: #e27878;
}

.search-bar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar input {
  min-width: 500px;
  border-radius: 5px;
  color: #d2d4de;
  background-color: rgb(22, 24, 33, 0.8);
  border: 0px solid #161821;
  width: 50%;
  padding: 5px;
}

::-webkit-input-placeholder {
  text-align: center;
}
:-moz-placeholder {
  text-align: center;
}
::-moz-placeholder {
  text-align: center;
}
:-ms-input-placeholder {
  text-align: center;
}

.search-bar input:focus::-webkit-input-placeholder {
  color: transparent;
}
.search-bar input:focus:-moz-placeholder {
  color: transparent;
}
.search-bar input:focus::-moz-placeholder {
  color: transparent;
}
.search-bar input:focus:-ms-input-placeholder {
  color: transparent;
}

.terminal-container {
  width: 50%;
  min-width: 500px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: rgb(22, 24, 33, 0.8);
  margin: 0 auto;
}

.bookmark-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.bookmark-set {
  border: 1px solid #91acd1;
  flex: 1 0 100px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.bookmark-title {
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  color: #161821;
  background-color: #91acd1;
}

.bookmark {
  font-size: 11pt;
  margin-bottom: 2px;
  text-align: center;
  color: #95c4ce;
}

.bookmark a:focus {
  font-weight: bold;
}
